* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

header {
  width: 100%;
}

.top-navbar {
  
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #ff0000 75%, #003366 25%);
  padding: 10px;
  padding-left: 200px;
  padding-right: 0px;
  
}

.top-navbar .left .logo {
    width: 100px;
    aspect-ratio: auto 107 / 29;
    height: 30px;
    aspect-ratio: auto 107 / 29;
    
  /* background-color: #fff; */
}

.main-menu {
  display: flex;
  gap: 15px;
  flex-grow: 1;
  justify-content: center;
  padding-right: 70px;
  
}

.main-menu a {
  text-decoration: none;
  
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;

  
}

.main-menu a:hover {
  text-decoration: none;
}

.top-navbar   .right {
  display: flex;
  align-items: center;
  gap: 15px;
  border-color: 2px solid red;
  margin-right: 200px;
  
}


.right .icon {
  font-size: 18px;
  color: white;
  margin-left: 50px;
}

 .right .log{
  background-color: white;
  color: #0a68cc;;
  border: none;
  padding: 8px 15px;
  
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  /* margin-right: 1500px; */
}

.log .user-icon {
  font-size: 16px;
  gap: 50px;
  
  
}






/* Sub navbar */
.sub-navbar {
  position: relative;
  background-color: #f8f9fa;;
  padding: 5px 0px;
  padding-left: 200px;
  padding-right: 160px;
  gap: 0px;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.sub-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.sub-links a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}


.dropdown01 {
  position: relative;
}

.dropdown-content01 {
  display: none;
  position: absolute;
  top: 138%;
  nav-right: 50%;
  /* left: 0; */
  
  background: white;
  transform: translateX(-10%, -100%);
 
  min-width: 1100px;
  min-height: 400px;
  
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  justify-content: space-between;
  display: flex;
  gap: 30px; 
 
 

  
      
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}
.dropdown-content01 .column {
    flex: 1;
    min-width: 220px;
}


.dropdown01:hover .dropdown-content01 {
  display: flex;
  
  z-index:999;
}

.column {
  flex: 1;
  
}

.column h4 {
  font-size: 14px;
  color: #0054a6;
  margin-bottom: 5px;
  
}

.column a {
  display: block;
  color: #444;
  text-decoration: none;
  font-size: 13px;
  margin: 3px 0;
}

.column a:hover {
  color: #e60000;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}





.sub-links a:hover {
  text-decoration: none;
  color: black;
}

.sub-actions{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  
 
}
.sub-actions a{
  text-decoration: none;
  margin: auto;
}

.outline-btn {
  border: 1px solid #d1e3ff;
  background-color: rgba(10, 104, 204, 0.0588235294);
  color: #0a68cc;
  padding: 6px 12px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  
}

.outline-btn:hover {
  background-color: #e9f2ff;
}



#carouselExampleAutoplaying{
    height: 620px;
    
}



body {
      
      background-color: #f2f2f2;
      
    }






.row {
   box-sizing: border-box;
    margin: 0px 180px;
    width: 1160px;

    
}
.row .card-body{
    height: 250px;
    padding: 0 30px;
    /* font-size: 14px; */
    margin-top: 20px; 
    margin-bottom: 20px;
}

    .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

     .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      padding: 20px 15px;
    } 

    .card-body h6 {

      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #444;
    }

    .card-title {
      font-size: 28px;
      font-weight: normal;
      margin-bottom: 10px;
      color: #222;
    }

    .card-text {
      font-size: 15px;
      color: #555;
      flex-grow: 1;
      margin-bottom: 15px;
    }

    .card-footer {
      margin-top: auto;
    }

    .apply-button {
      display: inline-flex;
      align-items: center;
      font-weight: bold;
      font-size: 14px;
      color: red;
      text-decoration: none;
    }

    .apply-button .circle {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      border: 1.5px solid red;
      border-radius: 50%;
      margin-left: 6px;
      font-size: 14px;
      padding-bottom: 2px;
    }






.ratio{
    width: 750px;
    height: 480px;
     background-color:  #fff;  
    /* background: #fff; */
    display: flex;
    justify-content: center;
    border: 1px solid gainsboro;
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    
}
.ratio .ratio-body .image_vedio{
    width: 720px;
    margin: 20px 20px;
    height: 430px ;
    /* box-sizing: content-box; */
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.col-yt .yside-body{
    /* padding-top: 25px;
    padding-left: 20px; */
    padding: 25px;
    height: 480px;
    font-size: 14px;

    
    /* font-weight: 300; */
}
.col-yt .yside-body h6{
    font-size: 23px;
    margin-bottom: 25px;
}
.yside-body p{
    padding-top: 10px;
    line-height: 1.528571429;
    color: #333;
    
    
}

.hub{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -800px;
  margin-bottom:  -15px;
  margin-top: -10px;
  
}
.hub h2{
  
  margin-top: 50px;
  font-size: 24px;
      font-family: Roboto, sans-serif;
          font-weight: 600;
}


.image-text-container {
      position: relative;
     
      width: 750px;
      height: 480px;
      max-width: 900px;
      margin: auto;
      border-radius: 8px;
      overflow: hidden;
    }

    .image-text-container img {
      width: 100%;
      /* height: auto; */
      height: 1000px;
      display: block;
           

    }

    .overlay-text {
      position: absolute;
      
      line-height: 1.428571429;
      box-sizing: border-box;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px 25px;
      /* margin: 0px 0px; */
      margin-left: 10px;
      
      /* background: linear-gradient(to top, rgba(0,0,0,0.6), transparent); */
      background: rgba(0, 0, 0, .5);
      /* color: white; */
      font-family: Arial, sans-serif;
      color: #fff;
      overflow: hidden;
      
      
    }

    .overlay-text h3 {
            text-decoration: none;

      list-style: none;
      height: 20px;
      padding: 10px 0px;
      margin: -16px 0px;
      font-size: 14px;
      font-weight: bold;
          font-family: Roboto, serif;
    }

    .overlay-text p {
      margin: 30px 0;
      font-size: 22px;
              font-family: Roboto, serif;

    }

    .overlay-text a {
      display: inline-block;
      margin-top: 10px;
      /* margin-bottom: 10px; */
      /* padding-bottom: -50px; */
      color: white;
      font-weight: bold;
      text-decoration: none;
    }
    

    .overlay-text a:hover {
      text-decoration: underline;
    }





.sidebar {
    width: 370px;
    height: 490px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 18px;
        
}
.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.story {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.2s;
}

.story:hover {
    background-color: #f9f9f9;
}

.story img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.story-text {
    flex: 1;
    font-size: 14px;
    color: #333;
}

.arrow {
    font-size: 16px;
    color: red;
    margin-left: 10px;
}

.view-all {
    margin-top: 15px;
    color: red;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.view-all:hover {
    text-decoration: underline;
    cursor: pointer;
}

.view-all i {
    margin-left: 5px;
}






/*need help section*/

     .help-section {
      text-align: center;
      
    }

    .help-section h2 {
      margin-top: 60px;
      margin-bottom: 20px;
      color: #003366;
      font-size: 24px;
      font-weight: bold;
      
    }

    .help-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      /* border: 1px solid #fff */
     

    }

    .help-card {
      
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 0 5px rgba(0,0,0,0.05);
      padding: 10px 30px 10px 0px;
      max-width: 230px;
      font-family: Arial, sans-serif;
      transition: box-shadow 0.3s ease;
      padding: 0px; 
      /* border: 2px solid #fff; */
       border: 2px solid white;
      
      
    }

    .help-card:hover {
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    .help-icon {

      width: 28px;
      height: 24px;
      margin-left: 24px;
      margin-right: 15px;
      /* margin-bottom: 0px; */
      border: 2px solid #37475a;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      
      font-weight: bold;
      color: #37475a;
      font-size: 18px;

    }

    .help-card h3{
      font-size: 14px;
      font-weight: bold;
      color: #1c1c1c;
      margin-bottom: 0px;
      line-height: 1.528571429;
      margin-right: 30px;
      margin-top: 10px;
      text-align: justify;
    }

    .help-card p {
      font-size: 12px;
      color: #666666;
      line-height: 1.028571429;
      word-spacing: 0px;

    }






    .rates-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  width: 360px;
  margin-left: 15px;
}

.rates-card h2 {
  background-color: #444;
  color: white;
  height: 70px;
  
  margin: 0;
  padding: 1rem;
  font-size: 1.2rem;
}

.section {
  border-bottom: 1px solid #ddd;
}

.section-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  align-items: center;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-text img {
  width: 24px;
  height: 24px;
}

.arrow {
  font-size: 1rem;
  color: red;
}

.section-body {
  padding: 0 1rem 1rem 3rem;
}

.rate {
  color: red;
  font-weight: bold;
  margin: 0.3rem 0;
}

.rate span {
  float: right;
}

.see-all {
  display: block;
  color: red;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
}

    



.back-to-top {
  margin-top: 40px;
  background-color: #fff;
  text-align: right;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  /* margin-right: -10px; */
}

.back-to-top span {
  border: 1px solid #aaa;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.9rem;
}











    .footer {
      /* background-color: #eee; */
      padding: 26px;
      margin: 0px 160px;
      word-spacing: normal;
    }

    .footer-section {
      margin-bottom: 15px;
    }

    .footer-section h4 {
      font-family: Roboto, Arial, sans-serif;
      margin: 0 0 10px;
      font-size: 13px;
      font-weight: 600;
      color: #333;
    }

    .footer-links {
      color: #666;
      font-size: 13px;
      line-height: 1.8;
      transition: color .5s linear;

      line-height: 1.428571429;  
    /* display: inline-block; */
    }

    .footer-links a {
      color: #555;
      text-decoration: none;
      margin-right: 4px;
      /* text-decoration: none; */
      font-family: 'Roboto', serif;
      font-size: 13px;
      line-height: 1.428571429;    
      
    }

    .footer-links a:hover { 
      text-decoration:none;
    }

    hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 10px 0;
    }


    #footer_space{
      padding: 2px;
      margin-top: 5px;
      background-color: white;
    }








  .footer2 {
    margin-top: 40px;
    margin-bottom: 0px;

  background-color: #f3f3f3; 
  /* padding: 20px 80px 0px; */
  
  padding: 0px 180px;
  padding-bottom: 0px;
  font-size: 13px;
  color: #333;
  
}

.footer-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-column2 {
  flex: 1;
  min-width: 150px;
  font-size: 13px;
   
}

.footer-column2 h3, .footer-column2 h4 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
  font-size: 13px;
  font-family: 'Roboto', serif;
  
}

.footer-column2 ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.footer-column2 ul li {
  margin-bottom: 6px;
  cursor: pointer;
  font-family: 'Roboto', serif;
  font-size: 13px;
}



.footer-bottom-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px;
  padding-bottom: 10px;
  background-color: #f3f3f3;
  /* border-top: 1px solid #ccc; */
  font-size: 14px;
  
}

.footer-bottom-section > div {
  margin: 10px 0px;
  flex: 1;
  min-width: 180px;
}
.footer-social .icons i {
  font-size: 10px;
  margin: 0 10px;
  color: #666;
  cursor: pointer;
  font-family: 'Roboto', serif;
  font-size: 13px;
}
.footer-social .icons i:hover {
  color: #e60000;
  transform: scale(1.2);
}
.footer-apps .app-icons img {
  display: inline-flex;
  width: auto;
  height: 35px;
  padding:0px 4px;
  margin-bottom: 0px;
  /* margin-right: 10px; */
  cursor: pointer;
  /* border: 2px solid red; */
  overflow: clip;
}
.footer-security img {
  margin-top: 35px;
  margin-left: 10px;
 
  height: 35px;
  margin-right: 10px;

}

.dropdown {
      position: relative;
      display: inline-block;
      font-family: Arial, sans-serif;
      
    }

    .dropdown-btn {
      background-color: white;
      border: 1px solid #ccc;
      padding: 6px 16px;
      font-size: 14px;
      cursor: pointer;
      width: 200px;
      text-align: left;
      margin-left: 100px;
      margin-top: 30px;
    }
   .dropdown-btn::after {
      /* content: "▼"; */
      float: right;
      margin-left: 10px;
    }

    
    .dropdown-content {
      display: none;
      position: absolute;
      top: -300%;
      background-color: #fff;
      min-width: 220px;
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.15);
      z-index: 1;
      min-height: 100px;
      overflow-y: auto;
      line-height: 1.428571429;
      padding: 0px 10px;
      margin-left: 100px;
      margin-bottom: 200px;
      margin-top: -75px;
    }

      .dropdown-content a {
      color: #333;
      padding: 5px 0px;
      text-decoration: none;
      display: block;
      
    }
    .dropdown-content a:hover {
      background-color: #f2f2f2;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }











.footer-copyright {
 
  background-color: #e0e0e0;
    padding: 14px 180px;
    /* padding-bottom: 4px; */
    /* margin-bottom: 0px; */
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #333;
}


.footer-copyright a {
  
  color: #333;
  text-decoration: none;
  
  margin: 10px;
  transition: color 0.3s;
 
}

.footer-copyright a:hover {
  color: #e60000;
}

.footer-copyright span {
  margin: 0 0px;
  color: #777;
}
